@model WebApp_DnD.Models.Character

@{
    ViewData["Title"] = "Details";
}
<head>
    @*<link rel="stylesheet" href="~/css/characterPic.css" asp-append-version="true" />*@
</head>

<style>
    .header-text {
        min-height: 100%;
        background-color: aqua;
        display: table;
    }

        .header-text > .content {
            display: table-cell;
            vertical-align: middle;
            font-size: 1.5em;
        }

    .content > .row {
        margin-bottom: 20px;
    }

    .modifiers {
        background-color: orange;
        text-align: center;
    }

        .modifiers > .row {
            margin: 0 auto;
            width: 50%;
            padding-top: 10px;
        }

            .modifiers > .row > .modifier-input {
            }

    .crop {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
    }

        .crop img {
            width: 200px;
            margin: 0 0 0 0
        }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    table.savingthows_skills {
        margin: 0 auto;
        width: 90%;
        height: 100%;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .centercol {
        background-color: yellow;
        text-align: center;
    }

    .rightcol {
        background-color: green;
        text-align: center;
    }


    
</style>

<script language="JavaScript" type="text/javascript" src="~/vendor.min.js"></script>
<script>
    $(document).ready(function () {
        var dynamic = $('.photo ');
        var static = $('.header-text');

        static.height(dynamic.height());

    });
</script>
<h2>Details</h2>


<div class="container">


    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="User" />
        <input type="hidden" asp-for="Name" />


        <div class="row header">
            <div class="col-lg-3">
                <div class="crop photo">
                    @if (Model.Picture != null) {
                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Picture)" />
                    } else {
                        <img src="~/images/characterDefault.jpg" />
                    }
                </div>
            </div>



            <div class="col-lg-9 header-text">

                <div class="content">
                    <div class="row">
                        <div class="col-md-6 ">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Class" class="control-label"></label>
                            <select asp-for="Class" class="form-control" asp-items="ViewBag.Class"></select>
                            <span asp-validation-for="Class" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="Race" class="control-label"></label>
                            <select asp-for="Race" class="form-control" asp-items="ViewBag.Race"></select>
                            <span asp-validation-for="Race" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="Alignment" class="control-label"></label>
                            <select asp-for="Alignment" class="form-control" asp-items="ViewBag.Alignment"></select>
                            <span asp-validation-for="Alignment" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="ExperiencePoints" class="control-label"></label>
                            <input asp-for="ExperiencePoints" class="form-control" />
                            <span asp-validation-for="ExperiencePoints" class="text-danger"></span>

                            @* @Html.EditorFor(m => m.ExperiencePoints, new { htmlAttributes = new { @readonly = "readonly" } })*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Header-->

        <div class="row">
            <!--Modifier Column-->
            <div class="col-lg-4 modifiers">
                <div class=" col-lg-4 modifercol">
                    <div class="row">
                        <label asp-for="Strength" class="control-label"></label>
                        <h1>@((Model.Strength - 10) / 2)</h1>
                        <input asp-for="Strength" class="form-control modifier-input" />
                        <span asp-validation-for="Strength" class="text-danger"></span>

                    </div>
                    <div class="row">
                        <label asp-for="Dexterity" class="control-label"></label>
                        <h1>@((Model.Dexterity - 10) / 2)</h1>
                        <input asp-for="Dexterity" class="form-control modifier-input" />
                        <span asp-validation-for="Dexterity" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <label asp-for="Consitution" class="control-label"></label>
                        <h1>@((Model.Consitution - 10) / 2)</h1>
                        <input asp-for="Consitution" class="form-control modifier-input" />
                        <span asp-validation-for="Consitution" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <label asp-for="Intelligence" class="control-label"></label>
                        <h1>@((Model.Intelligence - 10) / 2)</h1>
                        <input asp-for="Intelligence" class="form-control modifier-input" />
                        <span asp-validation-for="Intelligence" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <label asp-for="Wisdom" class="control-label"></label>
                        <h1>@((Model.Wisdom - 10) / 2)</h1>
                        <input asp-for="Wisdom" class="form-control modifier-input" />
                        <span asp-validation-for="Wisdom" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <label asp-for="Charisma" class="control-label"></label>
                        <h1>@((Model.Charisma - 10) / 2)</h1>
                        <input asp-for="Charisma" class="form-control modifier-input" />
                        <span asp-validation-for="Charisma" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <h3>Saving Throws</h3>
                        <table class="savingthows_skills">
                            <tbody>
                                <tr>
                                    <td>@Model.ST_Strength</td>
                                    <td>Strength</td>
                                </tr>
                                <tr>
                                    <td>@Model.ST_Dexterity</td>
                                    <td>Dexterity</td>
                                </tr>
                                <tr>
                                    <td>@Model.ST_Consitution</td>
                                    <td>Consitution</td>
                                </tr>
                                <tr>
                                    <td>@Model.ST_Intelligence</td>
                                    <td>Intelligence</td>
                                </tr>
                                <tr>
                                    <td>@Model.ST_Wisdom</td>
                                    <td>Wisdom</td>
                                </tr>
                                <tr>
                                    <td>@Model.ST_Charisma</td>
                                    <td>Charisma</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <h3>Skills</h3>
                        <table class="savingthows_skills">
                            <tbody>
                                <tr>
                                    <td>@Model.Acrobatics</td>
                                    <td>Acrobatics</td>
                                </tr>
                                <tr>
                                    <td>@Model.AnimalHandling</td>
                                    <td>Animal Handling</td>
                                </tr>
                                <tr>
                                    <td>@Model.Arcana</td>
                                    <td>Arcana</td>
                                </tr>
                                <tr>
                                    <td>@Model.Athletics</td>
                                    <td>Athletics</td>
                                </tr>
                                <tr>
                                    <td>@Model.Deception</td>
                                    <td>Deception</td>
                                </tr>
                                <tr>
                                    <td>@Model.History</td>
                                    <td>History</td>
                                </tr>
                                <tr>
                                    <td>@Model.Insight</td>
                                    <td>Insight</td>
                                </tr>
                                <tr>
                                    <td>@Model.Intimidation</td>
                                    <td>AIntimidation</td>
                                </tr>
                                <tr>
                                    <td>@Model.Medicine</td>
                                    <td>Arcana</td>
                                </tr>
                                <tr>
                                    <td>@Model.Nature</td>
                                    <td>Nature</td>
                                </tr>
                                <tr>
                                    <td>@Model.Perception</td>
                                    <td>Perception</td>
                                </tr>
                                <tr>
                                    <td>@Model.Performance</td>
                                    <td>Performance</td>
                                </tr>
                                <tr>
                                    <td>@Model.Persuasion</td>
                                    <td>Persuasion</td>
                                </tr>
                                <tr>
                                    <td>@Model.Religion</td>
                                    <td>Religion</td>
                                </tr>
                                <tr>
                                    <td>@Model.SleightOfHand</td>
                                    <td>Sleight Of Hand</td>
                                </tr>
                                <tr>
                                    <td>@Model.Stealth</td>
                                    <td>Stealth</td>
                                </tr>
                                <tr>
                                    <td>@Model.Survival</td>
                                    <td>Survival</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--End of Modifer Column-->


            <div class="col-lg-4 centercol">

                <div class="row">
                    <div class="col-lg-4">
                        <h4>Armor Class</h4>
                        <h1>@(Model.ArmorClass)</h1>
                    </div>

                    <div class="col-lg-4">
                        <h4>Initiative</h4>
                        <h1>@(Model.Initiative)</h1>
                    </div>

                    <div class="col-lg-4">
                        <h4>Speed</h4>
                        <h1>@(Model.Speed)</h1>
                    </div>
                </div>
                <div class="row">

                </div>

            </div>
            <div class="col-lg-4 rightcol">

                <div class="row">
                   <p>Right Column Area</p>
                </div>

            </div>

        </div>


    </form>
    <div class="col-lg-3">

        <table id="ProfTable">
            <tbody>
                @foreach (var item in Model.Proficiency) {
                    <tr>
                        <td>@item.ProficiencyName</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-lg-3">

        <table id="equipmentTable">
            <tbody>
                @foreach (var item in Model.Equipment) {
                    <tr>
                        <td>@item.ItemName</td>
                        <td>@item.Description</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>



